body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
}

p {
	font-family: "Pacifico", cursive;
	color: gray;
	font-size: 15px;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-bottom: 1px solid grey;
	font-size: 10px;
	font-family: "Pacifico", cursive;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background-color: darkgray;
	padding: 5px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}
